


.landing {
    background-color: white;
    width: 100vw;
    display: grid;
    grid-template-rows: 80px 1fr ;
    grid-template-columns: 120px 1fr;
    
    video{
        z-index: 1;
        max-height: 100vh;
        width: 100vw;
        object-fit: cover;
        grid-area: 2 / 1 / -1 / -1;
    }
    .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        img{
            height: 2.5rem;
        }
    }
    
    nav{
        background-color: #fff;
        line-height: 80px;
        a{color: black; font-size: 1rem; margin: 1rem;}
    }
    header{
        text-align: center;
        grid-area: 2 / 1 / -1 / -1;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p,h1{text-shadow: 2px 2px 5px rgba(0,0,0,.5);}
    }
    .landing-overlay{
        z-index: 5;
        grid-area: 2 / 1 / -1 / -1;
        background: rgba(0,0,0,.2);
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width:768px) {
    h1{font-size: 2rem;}
    nav{display:none;}
}
