$bg-color: #111;
$main-text-color:#ebeaf1;

$header-text: 'Roboto Slab', serif;
$paragraph: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$sans-serif:Tahoma, Geneva, Verdana, sans-serif;
