$bg-color: #ebeaf1;
$main-text-color:#ebeaf1;

$header-text: 'Merriweather', serif;
$paragraph: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$sans-serif:Tahoma, Geneva, Verdana, sans-serif;
